<! DOCTYPE html>
<html>
  <head>
    <title>Career Suggester</title>
  </head>
  <body>
    <h1>Find Your Ideal Career</h1>
    <form method="POST" action="/result">
        <label> Intrests:</label><br>
        <input type="text" name="intrests"><br><br>

        <label> Strengths:</label><br>
        <input type="text" name="strengths"><br><br>

        <label>Preferred Work Style:</label><br>
        <select name="workstyle">
          <option>Team Work</option>
          <option>Independent</option>
          <option>Creative</option>
          <option>Problrm Solving</option>
        </select><br><br>

        <button type="submit">Suggest Careers</button>
    </form>
  </body>
</html>
